body, html {
  height: 100%; }

.header {
  height: 20%; }

.header-texto {
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 1.875rem; }

.footer-main {
  background: #222;
  color: white;
  font-size: 0.8rem;
  padding: 2.5rem 0; }

.card-columns {
  padding: 0 2.5rem 1.5rem; }

/*# sourceMappingURL=main.css.map */
